<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Success</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>

<body>

    <p>this is all about me</p>
    <h3><%= body.name %></h3>
    <h3><%= body.job %></h3>
    <h3><%= body.email %></h3>
</body>

</html>